# The following ENV vars must be set:
# - DOCKER_REGISTRY
# - DOCKER_USERNAME
# - DOCKER_PASSWORD
# - GDN_MDC_CLI_TENANT_ID
# - GDN_MDC_CLI_CLIENT_ID
# - GDN_MDC_CLI_CLIENT_SECRET
# - GDN_PIPELINE (bitbucket)
# - IMAGE_NAME
# - GDN_TRIVY_ACTION (image)
# - GDN_TRIVY_TARGET

image: atlassian/default-image:3

definitions:
  steps:
  - step: &docker-build
    name: docker build
    services:
      - docker
    script:
      # build the Docker image (this will use the Dockerfile in the root of the repo)
      - docker build -t $IMAGE_NAME
      # authenticate with the Docker Hub registry
      - docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
      - docker tag $IMAGE_NAME $GDN_TRIVY_TARGET:V$BITBUCKET_BUILD_NUMBER
      - docker tag $IMAGE_NAME $GDN_TRIVY_TARGET:latest
      # push the new Docker image to the Docker registry
      - docker push --all-tags $GDN_TRIVY_TARGET

  - step: &trivy-scan
    name: Trivy Scan
    services: 
      - docker
    script:
      - docker login $DOCKER_REGISTRY --username $DOCKER_USERNAME --password $DOCKER_PASSWORD
      - curl -L -o ./dfc-cli.zip https://www.nuget.org/api/v2/package/Microsoft.Security.DevOps.Cli.linux-x64/
      - unzip -o ./dfc-cli.zip
      - chmod +x tools/guardian
      - chmod +x tools/Microsoft.Guardian.Cli
      - tools/guardian init --force
      - tools/guardian run -t trivy --export-file ./ubuntu-test.sarif --publish-file-folder-path ./ubuntu-test.sarif --not-break-on-detections

pipelines:
  default:
    - step: *docker-build
    - step: *trivy-scan
